.title{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: brown;
    width: 758px;
    margin: 0 auto;
}
.photo{
    display: block;
    margin: 0 auto;
}
.text{
    text-align: center;
    size: 18px;
    width: 758px;
    margin: 20px auto;
}
.car{
    margin: 0 auto;
    border-style: dotted;
    text-align: center;
}
.conteiner{
    display: inline-block;
    padding-left: 37%
}
.foot{
    color: rgb(255, 255, 255);
    size: 20px;
    text-align: center;
    background-color:black;
    width: 758px;
    margin: 0 auto;
}